html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.image-container {
    min-width: 100vw;
    min-height: 100vh;
    position: relative; /* Ensures that absolutely positioned elements inside are relative to this container */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#booths {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.booth-box {
    position: absolute; 
    height: 2vw;
    width: 2vw;
    background-color: antiquewhite;
    box-sizing: border-box;
    color: black;
    border: 1px solid black; 
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#booth1 {
    top: 10%; /* Adjust the top position relative to the container's size */
    left: 10%; /* Adjust the left position relative to the container's size */
}

#booth2 {
    top: 20%; /* Adjust the top position relative to the container's size */
    left: 20%; /* Adjust the left position relative to the container's size */
}
