html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.image-container {
    position: relative;
    /* Ensures that absolutely positioned elements inside are relative to this container */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#booths {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#booths {
    position: absolute;
    /* Position booths relative to image-container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.booth-box {
    position: absolute;
    height: 1.5vw;
    width: 1.5vw;
    background-color: antiquewhite;
    box-sizing: border-box;
    color: black;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: .8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booth-info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(104, 198, 222, 0.636);
    border: .15vw solid #ccc;
    padding: 1% .5%;
    border-radius: 1vw;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it is on top */
    text-align: center;
    font-size: 2vw;
    color: black;
    font-weight: 500;
    max-width: 80%;
    /* max-height: 80%; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#food1 {
    top: 17%;
    left: 29%;
    background-color: yellow;
    height: 10%;
    width: 12%;
    transform: rotate(-8deg); /* Rotate the element 45 degrees */
    font-size: 1.5vw;
}

#booth1 {
    top: 53%;
    left: 19.1%;
}

#booth2 {
    top: 52.3571%;
    left: 20.8%;
}

#booth3 {
    top: 50.7143%;
    left: 22.5%;
}

#booth4 {
    top: 50.0714%;
    left: 24.1%;
}

#booth5 {
    top: 48.85%;
    /* Adjusted for arch */
    left: 25.7143%;
}

#booth6 {
    top: 48.5%;
    /* Adjusted for arch */
    left: 27.6429%;
}

#booth7 {
    top: 47.1%;
    /* Adjusted for arch */
    left: 29.5714%;
}

#booth8 {
    top: 46.7%;
    /* Adjusted for arch */
    left: 31.5%;
}

#booth9 {
    top: 45.3%;
    /* Adjusted for arch */
    left: 33.4286%;
}

#booth10 {
    top: 44.9%;
    /* Adjusted for arch */
    left: 35.3571%;
}

#booth11 {
    top: 44.5%;
    /* Adjusted for arch */
    left: 37.2857%;
}

#booth12 {
    top: 44.1%;
    /* Adjusted for arch */
    left: 39.2143%;
}

#booth13 {
    top: 43.75%;
    /* Adjusted for arch */
    left: 41.1429%;
}

#booth14 {
    top: 43.6429%;
    left: 43.0714%;
}

#booth15 {
    top: 43%;
    left: 45%;
}

#booth16 {
    top: 43%;
    left: 51%;
}

#booth17 {
    top: 44%;
    left: calc(51% + 1.8%);
}

#booth18 {
    top: 44.5%;
    left: calc(51% + 2 * 1.8%);
}

#booth19 {
    top: 44.9%;
    left: calc(51% + 3 * 1.8%);
}

#booth20 {
    top: 45%;
    left: calc(51% + 4 * 1.8%);
}

#booth21 {
    top: 45.4%;
    left: calc(51% + 5 * 1.8%);
}

#booth22 {
    top: 46%;
    left: calc(51% + 6 * 1.8%);
}

#booth23 {
    top: 47%;
    left: calc(51% + 7 * 1.8%);
}

#booth24 {
    top: 47%;
    left: calc(51% + 8 * 1.8%);
}

#booth25 {
    top: 48%;
    left: calc(51% + 9 * 1.8%);
}

#booth26 {
    top: 49%;
    left: calc(51% + 10 * 1.8%);
}

#booth27 {
    top: 50%;
    left: calc(51% + 11 * 1.8%);
}

#booth28 {
    top: 51%;
    left: calc(51% + 12 * 1.8%);
}

#booth29 {
    top: 52%;
    left: calc(51% + 13 * 1.8%);
}

#booth30 {
    top: 53%;
    left: calc(51% + 14 * 1.8%);
}

#booth31 {
    top: 43%;
    left: 11.5%;
}

#booth32 {
    top: 42%;
    left: 13.2%;
}

#booth33 {
    top: 41%;
    left: 14.9%;
}

#booth34 {
    top: 40%;
    left: 16.6%;
}

#booth35 {
    top: 39%;
    left: 18.3%;
}

#booth36 {
    top: 35.5%;
    left: 23%;
}

#booth37 {
    top: 34.5%;
    left: 24.8%;
}

#booth38 {
    top: 34%;
    left: 26.5%;
}

#booth39 {
    top: 33.5%;
    left: 28.5%;
}

#booth40 {
    top: 32.5%;
    left: 30.5%;
}

#booth41 {
    top: 32.1%;
    left: 63%;
}

#booth42 {
    top: 32.5%;
    left: 64.9%;
}

#booth43 {
    top: 33.5%;
    left: 66.8%;
}

#booth44 {
    top: 34.5%;
    left: 68.6%;
}

#booth45 {
    top: 35.5%;
    left: 70.5%;
}

#booth46 {
    top: 36.5%;
    left: 72.2%;
}

#booth47 {
    top: 37%;
    left: 74%;
}

#booth48 {
    top: 32%;
    left: 75.7%;
}

#booth49 {
    top: 33%;
    left: 77.3%;
}

#booth50 {
    top: 34%;
    left: 79.0%;
}

#booth51 {
    top: 35%;
    left: 81%;
}

#booth52 {
    top: 41%;
    left: 79.9%;
}

#booth53 {
    top: 42%;
    left: 81.5%;
}

#booth54 {
    top: 43%;
    left: 83.2%;
}

#booth55 {
    top: 44.8%;
    left: 85.0%;
}

#booth56 {
    top: 36.5%;
    left: 83%;
}

#booth57 {
    top: 37.8%;
    left: 85%;
}

#booth58 {
    top: 40%;
    left: 86.9%;
}

#booth59 {
    top: 44.8%;
    left: 9.7%;
}

#booth60 {
    top: 47.4%;
    left: 11.2%;
}

#booth61 {
    top: 48.5%;
    left: 12.8%;
}

#booth62 {
    top: 49.9%;
    left: 14.3%;
}

#booth63 {
    top: 51.5%;
    left: 15.9%;
}

#booth64 {
    top: 52.8%;
    left: 17.5%;
}